name: Build, Test, and Versionize

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  build_test_versionize:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal

      - name: Configure git
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'

      - name: Install Versionize
        run: dotnet tool install --global Versionize

      - name: Versionize
        run: versionize --changelog-all

      - name: Push version commit and tag
        run: git push --follow-tags
